.body {background-image: url(./world-map.png);
    background-size: cover;
    position: absolute ;
    left: 0;
    top: 0;
}
.header {width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 50px 0 0 500px;
letter-spacing: 4px;
font: 12pt sans-serif;
text-align: center;
font-weight: bold;
}
.subheader {width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 250px 0 0 150px;
letter-spacing: 2px;
font-style: italic;
font-weight: normal;
text-align: center;
}
